/** @format */

ion-content ion-toolbar {
	--background: translucent;
}

.tab-contents {
	padding: 0 20px;
	overflow-y: scroll;
	height: 85%;
}

.steps {
	&--block {
		height: 80%;
		overflow-y: scroll;
	}
}
